<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body>
<div align="center">
    <img src="/images/user.png" alt="user icon" style="width: 100px;height: 100px">
    <h2>Tenrero Morán, Marcos</h2>
    <p> ¡gracias por corregir mi trabajo! </p>
</div>
</body>
</html>