<label for="cat" class="rem">Categoría:</label>
<select name="quiz[tema]" id="tema">
      <% if (quiz.tema !== "otro") {%>
      <option value="<%= quiz.tema %>" selected><%= quiz.tema %></option>
      <% } %>
      <option value="otro">Otro</option>
      <% if (quiz.tema !== "humanidades") {%>
      <option value="humanidades">Humanidades</option>
      <% } %>
      <% if (quiz.tema !== "ocio") {%>
      <option value="ocio">Ocio</option>
      <% } %>
      <% if (quiz.tema !== "ciencia") {%>
      <option value="ciencia">Ciencia</option>
      <% } %>
      <% if (quiz.tema !== "tecnología") {%>
      <option value="tecnología">Tecnología</option>
      <% } %>
</select>  <p></p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
    <label for="resp" class="rem">Respuesta:</label>
    <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
    <a href="/quizes"><button type="button">Cancelar</button></a>
    <input type="submit" value="Salvar">
